<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Random Steam Game</title>
</head>
<body>
<div class="wrapper">
  <h1>Enter players Steam id:</h1>

  <div>https://steamcommunity.com/id/YOUR_ID/</div>
  <div>*your account shouldn't be private</div>

  <div>
    <form action="/suggest_game" method="get">
      <input type="text" name="name" value="<%= params[:name] %>">
      <input type="submit" value="Hit me!">
    </form>
    <% unless @error.nil? %>
      <div class="error"><%= @error %></div>
    <% end %>
  </div>
</div>
</body>
</html>