body {
  font-family: "Palatino Lynotype", "Book Antiqua", Palatino;
  color: #333333;
}

.wrapper {
  width: 960px;
  margin: 5em auto;
  text-align: center;
}

h1 {
  font-size: 150%;
  font-weight: normal;
}

.error {
  margin-top: 1em;
  color: firebrick;
}